@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url(../fonts/HelveticaNeueCyr-Bold.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'YandexSansDisplay';
    src: url(../fonts/YandexSansDisplay-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'YandexSansText';
    src: url(../fonts/YandexSansText-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
    font-weight: 400;
}