*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'HelveticaNeueCyr';
}
.container{
    max-width: 1320px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
input{
    outline: none;
}
.header{
    padding: 22px 0;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #1F1F1F;
}
.header__btn{
    font-weight: 550;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    background: #FFFFFF;
    border: 1px solid #1F1F1F;
    border-radius: 3px;
    width: 130px;
    height: 34px;
    transition: 300ms ease;
}
.header__btn:hover{
    background: #dadada;
}

/* ---------------------------------------------------------------------------------------------------------------------------*/

main{
    background: #F5F5F5;
}
.cabinet{
    min-height: calc(100vh - 78px);
    height: calc(100vh - 78px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabinet__body{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabinet__left{
    max-width: 755px;
    width: 100%;
    height: 475px;
}
.cabinet__left iframe{
    width: 100%;
    height: 100%;
}
.cabinet__left iframe .ytp-chrome-top-buttons{
    display: none !important;
}
.cabinet__right{
    max-width: 411px;
    width: 100%;
}
.cabinet__form{
    background: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    padding: 27px 54px 30px 54px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 12px;
}
.cabinet__title{
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    color: #1F1F1F;
    margin-bottom: 14px;
}
.cabinet__p{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #898989;
    margin-bottom: 24px;
}
.cabinet__subtitle{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #1F1F1F;
    margin-bottom: 20px;
}
.cabinet__input{
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    background: #F5F5F5;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    padding: 10px 17px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 7px;
}
.cabinet__input::placeholder{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #B8B8B8;
}
.cabinet__button{
    font-weight: 550;
    font-size: 13px;
    line-height: 140%;
    color: #FFFFFF;
    width: 100%;
    background: #277AED;
    border-radius: 3px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.cabinet__link{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-decoration-line: underline;
    color: #969696;
}
.cabinet__registers{
    background: #FFFFFF;
    border-radius: 5px;
    padding: 34px 54px 37px 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 14px;
}
.cabinet__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #1F1F1F;
}
.cabinet__btn{
    font-weight: 550;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    color: #1F1F1F;
    background: #FFFFFF;
    border: 1px solid #1F1F1F;
    border-radius: 3px;
    width: 100%;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.86);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 37px;
    transition: 300ms ease;
    opacity: 0;
    visibility: hidden;
}
.popup.active{
    opacity: 1;
    visibility: visible;
}
.popup-bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.popup__content{
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 16px 35px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    min-width: 411px;
    width: 411px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 40px 54px 38px 54px;
}
.popup-close{
    position: absolute;
    top: 16px;
    right: 16px;
}
.popup__title{
    font-weight: 400;
    font-size: 22px;
    line-height: 22px; 
    text-align: center;
    color: #1F1F1F;
    margin-bottom: 26px;
}
.popup__radios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 22px;
}
.popup__radio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}
.popup__radio-label{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #898989;
}
.popup__radio-input:checked ~ .popup__radio-label {
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
}
input[type="radio"] {
    -webkit-appearance: none;
    display: grid;
    place-content: center;
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border: 1px solid #1F1F1F !important;
    border-radius: 41px;
}
input[type="radio"]::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}
input[type="radio"] {
    display: grid;
    place-content: center;
}
input[type="radio"]:checked::before {
    transform: scale(1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.popup__input{
    display: flex;
    align-items: center;
    padding: 10px 17px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    width: 100%;
    height: 32px;
    margin-bottom: 7px;
}
.popup__input::placeholder{
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #B8B8B8;
}

.popups{
    min-height: calc(100vh - 78px);
    height: calc(100vh - 78px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}
.popups__btn{
    font-weight: 550;
    font-size: 13px;
    line-height: 140%;
    text-align: center;
    color: #1F1F1F;
    width: 304px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #1F1F1F;
    border-radius: 3px; 
}
.popups__button{
    z-index: 99;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #969696;
}
.popups__button:hover{
    color: #969696;
}
.popup__desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #1F1F1F;
    margin-bottom: 14px;
}
.dropdown{
    width: 100%;
}
.dropdown .btn{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    color: #1F1F1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 43px 6px 14px;
    margin-bottom: 34px;
    position: relative;
}
.dropdown .btn:focus{
    box-shadow: none;
}
.dropdown .btn::after{
    display: none;
}
.dropdown .btn::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: url(../img/dropdown-arrow.svg) center / cover no-repeat;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.dropdown-span{
    background: #FFFFFF;
    border: 1px solid #1F1F1F;
    border-radius: 3px;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    color: #1F1F1F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 67px;
    padding: 5px 5px 5px 7px;
}
.dropdown-menu{
    width: 100%;
    padding: 0;
}
.dropdown-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 43px;
    font-size: 13px;
    line-height: 19px;
}
.popup__img{
    margin-bottom: 21px;
}